<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Check</string>
		<key>title</key>
		<string>工作流审核</string>
		<key>pic</key>
		<string>\U0000E0A2</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Dashboard</string>
		<key>title</key>
		<string>项目进度跟踪</string>
		<key>pic</key>
		<string>\U0000E0A3</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Briefcase</string>
		<key>title</key>
		<string>日常办公</string>
		<key>pic</key>
		<string>\U0000E0A1</string>
	</dict>
</array>
</plist>
